<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsaQH3HJJCHIgicU--ceRgvI2ovZAW9Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>597317324603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urbanHive.fplPredictor</string>
	<key>PROJECT_ID</key>
	<string>fantasy-prem-774d6</string>
	<key>STORAGE_BUCKET</key>
	<string>fantasy-prem-774d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597317324603:ios:a798aeb80c34a18939711e</string>
</dict>
</plist>